:root {
    --background-red : #c0392b;
    --background-grey: #bdc3c7;
    --background-violet: #8e44ad;
    --background-blue: #2c3e50;
    --background-orange: #d35400;
    --background-white: #ecf0f1;
    --spc-xs: 4px;
    --spc-sm: 10px;
    --spc-md: 16px;
    --spc-lg: 24px;
    --spc-xl: 36px;
    --spc-xxl: 48px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-red { background-color: var(--background-red); }
.bg-grey { background-color: var(--background-grey); }
.bg-violet { background-color: var(--background-violet); }
.bg-blue { background-color: var(--background-blue); }
.bg-orange { background-color: var(--background-orange); }
.bg-white { background-color: var(--background-white); }

header {
    padding: var(--spc-sm);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header-right-container {
    display: flex;
}
.header-rect-large {
    width: 180px;
    height: 48px;
}
.header-rect-small {
    width: 100px;
    height: 48px; 
    margin: 0 var(--spc-sm);
}
.main-flexbox {
    display: flex;
    padding: var(--spc-md);
}
.left-container {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: var(--spc-sm);
    border: 2px solid black;
}
.left-top {
    display:flex;
    flex-direction: column;
}

.left-top-large-rect {
    width: 140px;
    height: 34px;
    margin-bottom: var(--spc-sm);
}
.left-top-small-rect {
    width: 100px;
    margin-bottom: var(--spc-sm);
    height: 34px;
}
.divider {
    margin-top: var(--spc-lg);
    height: 8px;
    width: 100%;
}
.left-list-container {
    margin-top: var(--spc-xxl);
}
.left-ul {
    margin-top: var(--spc-sm);
    margin-left: var(--spc-xl);
    padding-right: var(--spc-md);
}

.li-rect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10px;
}
ul li {
    padding: var(--spc-lg) 0;
    font-size: 48px;
}
ul .violet-li::marker {
    color: var(--background-violet);
}
ul .orange-li::marker {
    color: var(--background-orange);
}
ul .blue-li::marker {
    color: var(--background-blue);
}
.center-container {
    width: 52%;
    border: 2px solid blue;
    padding: var(--spc-sm);
    display: flex;
    flex-direction: column;
}
.center-top-one {
    width: 100%;
    padding: var(--spc-xs);
    display: flex;
    justify-content: space-between;
}
.center-top-one-large-rect {
    width: 70px;
    height: 36px;
}
.center-top-one-right-container {
    display: flex;
}
.center-top-one-small-rect {
    width: 48px;
    height: 36px;
    margin-left: var(--spc-sm);
}
.center-top-two {
    margin-top: var(--spc-sm);
    width: 100%;
    padding: var(--spc-xs);
    display: flex;
}
.center-top-two-square {
    width: 48px;
    height: 48px;
}
.center-top-two-column {
    display: flex;
    flex-direction: column;
    margin-left: var(--spc-sm);
    justify-content: space-between;

}
.center-top-two-large-rect {
    width: 180px;
    height: 18px;
}
.center-top-two-small-rect {
    width: 90px;
    height: 18px;
}
.center-main-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.center-main-top {
    padding: var(--spc-md);
}
.center-main-top-large-rect {
    height: 18px;
    width: 100%;
    margin-bottom: var(--spc-xs);
}
.center-main-top-small-rect {
    height: 18px;
    width: 50%;
    margin: var(--spc-xs) 0;
}
.center-main-top-col-container {
    display: flex;
    flex-direction: column;
}
.center-main-middle {
    padding: var(--spc-md);
    display: flex;
    justify-content: space-between;
}
.center-main-middle-left {
    display: flex;
    flex-direction: column;
}
.center-main-middle-large-rect {
    height: 20px;
    width: 180px;
    margin-bottom: var(--spc-xs);
}
.center-main-middle-small-rect {
    height: 20px;
    width: 80px;
    margin: var(--spc-xs) 0;
}
.center-main-middle-circle {
    height: 76px;
    width: 76px;
    border: 1px solid var(--background-white);
    border-radius: 50%;
}
.center-main-bottom {
    padding: var(--spc-md);
    display: flex;
    justify-content: space-between;
}
.center-main-bottom-square {
    width:72px;
    height: 72px;
}
.center-main-bottom-right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.center-main-bottom-right-large-rect {
    width: 180px;
    height: 22px;
}
.center-main-bottom-right-small-rect {
    width: 140px;
    height: 22px;
}
.right-container {
    width: 24%;
    border: 2px solid teal;
    display: flex;
    flex-direction: column;
    padding: var(--spc-sm);
}
.right-top-container {
    width: 100%;  
}
.full-width-rect {
    width: 100%;
    height: 22px;
    margin: var(--spc-sm) 0;
}
.right-bottom-container {
    margin-top: var(--spc-md);
    height: 100%;
    padding: var(--spc-sm);
    display: flex;
    justify-content: space-between;
}
.right-bottom-left-rect {
    width: calc(50% - var(--spc-sm));
    height: 80px;
}
.right-bottom-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - var(--spc-sm));
    padding-left: var(--spc-sm);
    height: 80px;
}
.right-bottom-right-rect {
    height: 20px;
}